body{
  background-image: url(https://st.depositphotos.com/1000911/1371/i/450/depositphotos_13712714-stock-photo-horses-run.jpg);
  background-size: cover;
}
h1{
  text-align: center;
  font-size: 150px;
}
header{
  height: 250px;
  background-color: mediumpurple;
}
nav,aside{
  width: 20%;
  background-color: mediumpurple;
  float: left;
}
main{
  width: 60%;
  background-color: mediumpurple;
  float: left;
}
footer{
  height: 250px;
  background-color: mediumpurple;
  clear: both;
}
h2{
  text-align: center;
}
article p{
  text-align: justify;
  font-size: 24px;
  padding: 10px;
}
article{
  border: dashed 1px black;
  margin: 10px;
}
#youtube iframe{
  margin: auto;
  display: block;
}
.bgvideo{
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bgvideo video{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: 1;
}
h1{
  z-index: 2;
  color: plum; 
}
/* CSS */
.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  width: 80%;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  margin: 30px;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}