body{

	background-color: lightskyblue;
}
marquee{
  font-family: "Rubik Mono One", monospace;
  color:green;
  font-size: 50px;


}
div{
height: 100px;
width: 100px;
background-color: red;
}
@keyframes example1{
from{background-color: red}
to{background-color: yellow}	

}
#d1{
animation-name: example1;
animation-duration: 4s;
animation-iteration-count: infinite;
}
@keyframes example2{
0%{background-color: red; left: 0px; top: 0px}
25%{background-color: blue; left: 200px; top: 0px}	
50%{background-color: green; left: 200px; top: 200px}
75%{background-color: violet; left: 200px; top: 0px}
100%{background-color: salmon; left: 0px; top: 0px}
}
#d2{
animation-name: example2;
animation-duration: 4s;
animation-iteration-count: infinite;
position: relative;
}
@keyframes example3{
0%{background-color: red; left: 0px; top: 0px}
25%{background-color: blue; left: 200px; top: 0px}	
50%{background-color: green; left: 200px; top: 200px}
75%{background-color: violet; left: 200px; top: 0px}
100%{background-color: salmon; left: 0px; top: 0px}
}
#d3{
animation-name: example3;
animation-duration: 4s;
animation-iteration-count: infinite;
position: relative;
animation-delay: -2s;
}
@keyframes example4{
0%{background-color: red; left: 0px; top: 0px}
25%{background-color: blue; left: 200px; top: 0px}	
50%{background-color: green; left: 200px; top: 200px}
75%{background-color: violet; left: 200px; top: 0px}
100%{background-color: salmon; left: 0px; top: 0px}
}
#d4{
animation-name: example4;
animation-duration: 4s;
animation-iteration-count: infinite;
position: relative;
animation-direction: reverse;
}
@keyframes example5{
0%{background-color: red; left: 0px; top: 0px}
25%{background-color: blue; left: 200px; top: 0px}	
50%{background-color: green; left: 200px; top: 200px}
75%{background-color: violet; left: 200px; top: 0px}
100%{background-color: salmon; left: 0px; top: 0px}
}
#d5{
animation-name: example5;
animation-duration: 4s;
animation-iteration-count: infinite;
position: relative;
animation-direction: alternate;
}

@keyframes example6{
0%{background-color: red; left: 0%; top: 0%}
100%{background-color: salmon; left: 80%; top: 0%}
}
#d6{
animation-name: example6;
animation-duration: 4s;
animation-iteration-count: infinite;
animation-timing-function: ease;
position: relative;
}
@keyframes example7{
0%{background-color: red; left: 0%; top: 0%}
100%{background-color: salmon; left: 80%; top: 0%}
}
#d7{
animation-name: example7;
animation-duration: 4s;
animation-iteration-count: infinite;
animation-timing-function: linear;
position: relative;
}
@keyframes example8{
0%{background-color: red; left: 0%; top: 0%}
100%{background-color: salmon; left: 80%; top: 0%}
}
#d8{
animation-name: example8;
animation-duration: 4s;
animation-iteration-count: infinite;
animation-timing-function: ease-in;
position: relative;
}
@keyframes example9{
0%{background-color: red; left: 0%; top: 0%}
100%{background-color: salmon; left: 80%; top: 0%}
}
#d9{
animation-name: example9;
animation-duration: 4s;
animation-iteration-count: infinite;
animation-timing-function: ease-out;
position: relative;
}
@keyframes example10{
0%{background-color: red; left: 0%; top: 0%}
100%{background-color: salmon; left: 80%; top: 0%}
}
#d10{
animation-name: example10;
animation-duration: 4s;
animation-iteration-count: infinite;
animation-timing-function: ease-in-out;
position: relative;
}
@keyframes example11{
0%{background-color: red; left: 0%; top: 0%}
100%{background-color: salmon; left: 80%; top: 0%}
}
#d11{
animation-name: example11;
animation-duration: 4s;
animation-iteration-count: infinite;
position: relative;
animation-fill-mode: forwards;
animation-direction: alternate;
}
#navbutton{
  border: none;
  outline: none;
  background-color: #6c5ce7;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  border-radius: 5px;
  transition: all ease 0.1s;
  box-shadow: 0px 5px 0px 0px #a29bfe;
  margin-bottom: 10px;

}
#navbutton:active{
  transform: translateY(5px);
  box-shadow: 0px 0px 0px 0px #a29bfe;
}




















